
#cmb2-metabox-wpwq_opt_single_options {
  
  .cmb2-id-wpwq-opt-meta-desc .cmb2-metabox-description {
		font-style: normal;
		color: #444;
	}
	
	.cmb-row {
	  padding: 0 !important;
	  border: none;
	  p {
	    padding-bottom: 0;
	  }
	}
  
}